In [2]:
import pandas as pd #Import Pandas
import matplotlib.pyplot as plt #Import Matplotlib
import numpy as np #Import numpy
from scipy.stats import pearsonr
import seaborn as sns

# Keys / Data Importing

In [3]:
state_fp = 'ac_data/Keys/STATE_key.csv'
county_fp = 'ac_data/Keys/COUNTY_key.csv'
city_fp = 'ac_data/Keys/CITY_key.csv'
month_fp = 'ac_data/Keys/MONTH_key.csv'
harmev_fp = 'ac_data/Keys/FHE_key.csv'
mancol_fp = 'ac_data/Keys/MANCOL_key.csv'
light_fp = 'ac_data/Keys/lgt_keys.csv'
weather_fp = 'ac_data/Keys/atmo_keys.csv'
cf_fp = 'ac_data/Keys/CF_keys.csv'
inter_fp = 'ac_data/Keys/inter_keys.csv'
wrkzn_fp = 'ac_data/Keys/wrk_keys.csv'

state_key = pd.read_csv(state_fp, header=None)
county_key = pd.read_csv(county_fp, header=None)
city_key = pd.read_csv(city_fp, header=None)
month_key = pd.read_csv(month_fp, header=None)
harmev_key = pd.read_csv(harmev_fp, header=None)
mancol_key = pd.read_csv(mancol_fp, header=None)
light_key = pd.read_csv(light_fp, header=None)
weather_key = pd.read_csv(weather_fp, header=None)
cf_key = pd.read_csv(cf_fp, sep=';', header=None)
inter_key = pd.read_csv(inter_fp, sep=';', header=None)
wrkzn_key = pd.read_csv(wrkzn_fp, sep=';', header=None)

accident_fp = 'ac_data/accident_v2.csv'
crash_df = pd.read_csv(accident_fp)
crash_df

,STATE,COUNTY,CITY,DAY,MONTH,DAY_WEEK,HOUR,MINUTE,HARM_EV,MAN_COLL,...,WRK_ZONE,LGT_COND,WEATHER1,WEATHER2,WEATHER,CF1,CF2,CF3,FATALS,DRUNK_DR
0,1,121,1870,5,1,6,6,0,14,0,...,0,4,1,0,1,0,0,0,1,0
1,1,127,1780,8,1,2,0,48,38,0,...,0,2,2,0,2,20,0,0,2,0
2,1,21,0,8,1,2,22,50,24,0,...,1,2,10,0,10,0,0,0,1,0
3,1,3,0,9,1,3,13,2,24,0,...,0,1,10,0,10,0,0,0,1,0
4,1,73,330,19,1,6,7,9,12,1,...,0,1,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33649,56,13,710,28,10,1,2,49,1,0,...,0,2,1,0,1,0,0,0,1,1
33650,56,27,0,26,12,4,10,45,12,6,...,0,1,5,3,3,0,0,0,1,0
33651,56,1,0,11,12,3,18,45,1,0,...,0,2,11,0,11,0,0,0,1,0
33652,56,13,0,22,10,2,13,34,1,0,...,0,1,1,0,1,0,0,0,1,1
33653,56,13,0,9,11,6,18,3,12,8,...,0,5,1,0,1,0,0,0,1,1